{% extends 'base.html' %}{% load crispy_forms_tags %} {% block signin %}active{% endblock signin %}{% block body %}
{% include 'dashboard.html' %}
<h3 class="text-center">Upload New Media</h3>
<hr />
<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-dark mt-3" type = "submit">Post</button>
      </form>
    </div>
  </div>
</div>
{% endblock body %}