{% extends 'base.html' %}{% block signup %}active{% endblock signup %} {% block body %}{% include 'dashboard.html' %}

{% comment %} Food Dnation {% endcomment %}
<h3 class="text-center mt-3">Food Donation History</h3>
<hr />
<div class="container">
  <div class="row">
    <div class="col-3">
      <h5>Quantity</h5>
    </div>

    <div class="col-3">
      <h5>Description</h5>
    </div>

    <div class="col-3">
      <h5>Status</h5>
    </div>

    <div class="col-3">
      <h5>Donation Date</h5>
    </div>
  </div>
</div>
<hr />
{% comment %} data section {% endcomment %}
<div class="container">
  {% for fdonation in foodDonations %}
  <div class="row">
    <div class="col-3">{{ fdonation.quantity }}</div>

    <div class="col-3">{{ fdonation.description }}</div>

    <div class="col-3">{{ fdonation.status }}</div>

    <div class="col-3">{{ fdonation.date_donated }}</div>
  </div>
  <hr />
  {% endfor %}
</div>


{% endblock body %}
