{% extends 'base.html' %}{% load crispy_forms_tags %} {% block donate %}active{% endblock donate %}{% block body %}
{% include 'dashboard.html' %}
<h3 class="text-center">Food Donation Inventory</h3>
<hr />
<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <form method="POST" action="">
        {% csrf_token %}
        
        <div class="mb-3">
          <label class="form-label">For People</label>
          <input type="Number" class="form-control" placeholder="Enter Number of People The Donation Is For" name = "people">

        {% comment %} <input type="hidden" name="d_user" value={{ request.user.id }}> {% endcomment %}

        <input
          class="btn btn-dark mt-5"
          type="submit"
          value="Save"
          name="donate"
        />
      </form>
    </div>
  </div>
</div>
{% endblock body %}