{% extends 'base.html' %}{% block signup %}active{% endblock signup %} {% block body %}{% include 'dashboard.html' %}
<h3 class="text-center mt-3">Money Donation Verification</h3>
<hr />
<div class="container">
  <div class="row">
    <div class="col-2">
      <h5>Donor</h5>
    </div>

    <div class="col-2">
      <h5>Amount</h5>
    </div>

    <div class="col-2">
      <h5>Method</h5>
    </div>

    <div class="col-2">
      <h5>Transaction ID</h5>
    </div>
  </div>
</div>
<hr>
{% comment %} data section  {% endcomment %}
<div class="container">
    {% for donation in donations %}
      {% if donation.status == 'Pending' %}
        <form method="POST">
          {%csrf_token%}
            <div class="row">
              <div class="col-2">
                {{ donation.donor.first_name }}
              </div>

              <div class="col-2">
                {{ donation.amount }}
              </div>

              <div class="col-2">
                {{ donation.p_method }}
              </div>

              <div class="col-2">
                {{ donation.txid }}
              </div>

              <input type="hidden" name="donation_id" value={{ donation.id }}>

              <div class="col-2">
                <input class="btn btn-success" type="submit" value="Verify" name="status">
              </div>

              <div class="col-2">
                <input class="btn btn-danger" type="submit" value="Decline" name="status">
              </div>
            </div>
        </form>
        <hr>
      {% endif %}
    {% endfor %}
</div>

{% endblock body %}