{% extends 'base.html' %} {% load crispy_forms_tags %} {% block body %}
<h3 class="text-center">Enter Your Email Address to Reset Your Account Password</h3>
<hr />
<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <form method="POST" action="">
        {% csrf_token %} {{form|crispy}}
        <input
          class="btn btn-dark mt-5"
          type="submit"
          value="Send Password Reset Instructions"
          name="password_reset"
        />
      </form>
    </div>
  </div>
</div>
{% endblock body %}