{% extends 'base.html' %}

{% block body %}
{% include 'dashboard.html' %}
<!-- project cards -->
<h1 class="text-center mt-6">Projects</h1>
<div class="container mt-5" id="project">
  <div class="row m-2">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Qurbani for Street Children</h5>
          <p class="card-text">We will arrange Qurbani for the street kids this Eid.</p>
          <a href="{% url 'donate_money' %}" class="btn btn-primary">Donate</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">New Clothing for Orphans</h5>
          <p class="card-text">We will be giving a new dress to orphans of Dhaka.</p>
          <a href="{% url 'donate_money' %}" class="btn btn-primary">Donate</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row m-2">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Qurbani for Street Children</h5>
          <p class="card-text">We will arrange Qurbani for the street kids this Eid.</p>
          <a href="{% url 'donate_money' %}" class="btn btn-primary">Donate</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">New Clothing for Orphans</h5>
          <p class="card-text">We will be giving a new dress to orphans of Dhaka.</p>
          <a href="{% url 'donate_money' %}" class="btn btn-primary">Donate</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row m-2">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Qurbani for Street Children</h5>
          <p class="card-text">We will arrange Qurbani for the street kids this Eid.</p>
          <a href="{% url 'donate_money' %}" class="btn btn-primary">Donate</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">New Clothing for Orphans</h5>
          <p class="card-text">We will be giving a new dress to orphans of Dhaka.</p>
          <a href="{% url 'donate_money' %}" class="btn btn-primary">Donate</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row m-2">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Qurbani for Street Children</h5>
          <p class="card-text">We will arrange Qurbani for the street kids this Eid.</p>
          <a href="{% url 'donate_money' %}" class="btn btn-primary">Donate</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">New Clothing for Orphans</h5>
          <p class="card-text">We will be giving a new dress to orphans of Dhaka.</p>
          <a href="{% url 'donate_money' %}" class="btn btn-primary">Donate</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock body %}